<% include ./partials/header %>

<div class="container">
	<form>
		<div class="form-group">
			<label for="battletag">Battle Tag</label>
			<input id="battletag">
		</div>
	</form>

	<a class="btn btn-default" href="/auth/bnet">Authenticate</a>
</div>


<% include ./partials/footer %>