<% include ./partials/header %>

<div class="container">
	<div id="profile-header">
		<h1><%= blizzID %></h1>
		<h2>WoW Achievement Points: <%= wowAP %></h2>
	</div>

<!-- 	<a class="btn btn-default" href="/auth/bnet">Authenticate</button> -->
</div>


<% include ./partials/footer %>